<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- Configurer that replaces ${...} placeholders with values from a properties file -->
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>/WEB-INF/wds.properties</value>
		</property>
	</bean>
	
	<!-- Jersey auto-scan -->
	<context:component-scan base-package="org.fao.fenix" />

    <bean id="wdsWebService" class="org.fao.fenix.wds.web.services.WDSWebService">
	</bean>
	
	<bean id="wrapper" class="org.fao.fenix.wds.core.utils.Wrapper">
		<constructor-arg value="/excels" />
		<property name="ip" value="${wds.ip}" />
		<property name="port" value="${wds.port}" />
        <property name="usePublicFolder" value="${wds.usePublicFolder}" />
        <property name="publicFolder" value="${wds.publicFolder}" />
	</bean>

    <bean id="datasourcePool" class="org.fao.fenix.wds.core.datasource.DatasourcePool" lazy-init="false" init-method="init">
        <constructor-arg value="/datasources" />
    </bean>

    <bean id="crudSQL" class="org.fao.fenix.wds.core.crud.CRUDSQL">
    </bean>

    <bean id="crudOrientDB" class="org.fao.fenix.wds.core.crud.CRUDOrientDB">
    </bean>

    <bean id="crudMongoDB" class="org.fao.fenix.wds.core.crud.CRUDMongoDB">
    </bean>

    <bean id="mdsdGenerator" class="org.fao.fenix.d3s.mdsd.MDSDGenerator">
    </bean>

</beans>